@page
@model WebPref.Web.Areas.Identity.Pages.Account.RegistrationFinishModel
@{
    ViewData["Title"] = "Завершение регистрации";
}

<h1>@ViewData["Title"]</h1>
<div>
    Для завершения регистрации необходимо подтвердить адрес электронной почты. На указанный вами адрес электронной почты @ViewData["email"] выслано письмо со ссылкой для окончательной активации учетной записи.
</div>
