@{
    ViewData["Title"] = "Политика использования данных пользователей";
}
<h1>@ViewData["Title"]</h1>

<p>Никакие данные пользователей сервера онлайн-преферанса не будут предоставляться сторонним организациям и лицам. Все собранные данные могут использоваться только для улучшения работы сервера.</p>
